In [1]:
import librosa
import librosa.display
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import IPython.display as ipd
from IPython.display import Audio

from sklearn.model_selection import KFold, StratifiedKFold

In [2]:
meta = pd.read_csv('../../training.csv')
test_meta = pd.read_csv('../../test.csv')

In [3]:
start_idx = []
end_idx = []
for name in meta['path']:
    y, sr = librosa.load('../../' + name)
    start_idx.append(librosa.effects.split(y)[0][0])
    end_idx.append(librosa.effects.split(y)[0][1])

In [4]:
meta['start_idx'] = start_idx
meta['end_idx'] = end_idx
meta.head()

                          path  label  start_idx  end_idx
0  dataset/train/jackson_0.wav      4          0    11089
1  dataset/train/jackson_1.wav      4          0     9465
2  dataset/train/jackson_2.wav      4          0    10692
3  dataset/train/jackson_3.wav      4          0     9708
4  dataset/train/jackson_4.wav      4          0    10022

In [5]:
start_idx = []
end_idx = []
for name in test_meta['path']:
    y, sr = librosa.load('../../' + name)
    start_idx.append(librosa.effects.split(y)[0][0])
    end_idx.append(librosa.effects.split(y)[0][1])

In [6]:
test_meta['start_idx'] = start_idx
test_meta['end_idx'] = end_idx
test_meta.head()

                         path  start_idx  end_idx
0  dataset/test/jackson_0.wav          0     9115
1  dataset/test/jackson_1.wav          0     9532
2  dataset/test/jackson_2.wav          0    10460
3  dataset/test/jackson_3.wav          0     9556
4  dataset/test/jackson_4.wav          0     9253

In [8]:
meta.to_csv('../meta/training.csv', index=False)
test_meta.to_csv('../meta/test.csv', index=False)