In [1]:
from pathlib import Path

import librosa
import librosa.display
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import IPython.display as ipd
from IPython.display import Audio
from tqdm import tqdm

from sklearn.model_selection import KFold, StratifiedKFold

## Load Data

In [2]:
meta = pd.read_csv('../../training.csv')
test_meta = pd.read_csv('../../test.csv')

In [3]:
train_path = meta['path'].values

_, _sr = librosa.load('../../' + train_path[0])
train_wave_list = []

for i, p in tqdm(enumerate(train_path)):
    waveform, sr = librosa.load('../../'+p)
    train_wave_list.append(waveform)

2700it [00:24, 110.86it/s]

In [4]:
test_path = meta['path'].values

_, _sr = librosa.load('../../' + test_path[0])
test_wave_list = []

for i, p in tqdm(enumerate(test_path)):
    waveform, sr = librosa.load('../../'+p)
    test_wave_list.append(waveform)

2700it [00:24, 108.98it/s]

In [5]:
train_features_df = meta
test_features_df = test_meta
SR = 22050

## Time Features

In [6]:
train_times = []
for wave in train_wave_list:
    train_times.append(len(wave)/ SR)
    
train_times = pd.Series(train_times)
train_times.describe()

count    2700.000000
mean        0.438810
std         0.149941
min         0.143537
25%         0.342268
50%         0.420590
75%         0.512653
max         2.282766
dtype: float64

In [7]:
train_features_df['times'] = train_times
train_features_df.head()

                          path  label     times
0  dataset/train/jackson_0.wav      4  0.502902
1  dataset/train/jackson_1.wav      4  0.429252
2  dataset/train/jackson_2.wav      4  0.484898
3  dataset/train/jackson_3.wav      4  0.440272
4  dataset/train/jackson_4.wav      4  0.454512

In [8]:
train_features_df.groupby('label').describe()['times']

,count,mean,std,min,25%,50%,75%,max
label,,,,,,,,
0,270.0,0.503607,0.126826,0.271791,0.405850,0.487528,0.591735,1.167664
1,270.0,0.403095,0.127845,0.174875,0.306757,0.377778,0.482551,0.941542
2,270.0,0.385760,0.140438,0.161043,0.288379,0.356576,0.471168,1.213379
3,270.0,0.402025,0.154027,0.181905,0.284966,0.381655,0.496814,1.313016
4,270.0,0.409257,0.111757,0.169887,0.331179,0.397642,0.470329,1.114875
5,270.0,0.453843,0.120902,0.209161,0.378061,0.424580,0.512619,1.147256
6,270.0,0.453374,0.182824,0.143537,0.319002,0.444195,0.569875,0.977506
7,270.0,0.461145,0.178380,0.245669,0.367370,0.438753,0.507336,2.195918
8,270.0,0.415019,0.119294,0.218639,0.342857,0.400703,0.467268,1.142902
9,270.0,0.500978,0.164845,0.222268,0.420102,0.468345,0.555023,2.282766